{% extends 'base.html.twig' %}

{% block title %}New GameRole{% endblock %}

{% block body %}
    <h1>Create new GameRole</h1>

    {{ include('game_role/_form.html.twig') }}

    <a href="{{ path('app_game_role_index') }}">back to list</a>
{% endblock %}
