{% extends 'base.html.twig' %}
{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0" defer></script>
<script src="/client.js" defer></script>
{% endblock %}

{% block title %}North COuntry Game Clubs{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
      <div class="row mb-4">
        <header>
          <h1>North Country Club ¯\_(ツ)_/¯</h1>
        </header>
      </div>
      <div class="row gx-5">
        <div class="col">
          <a href="/session">The Ordinary League of Gentlemen</a>
        </div>
      </div>
{% endblock %}