<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Game League</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/session">Game Sessions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/player/session">Session Detaild</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/player/">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/game">Games</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item ml-5">
            👤<a class="nav-link" style="display:inline-block" href="{{ path('app_player_show', {'id': app.user.id}) }}">{{ app.user.handle }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="display:inline-block" href="/logout">Logout</a>
          </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" style="display:inline-block" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>